.swan-react-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.swan-react-card-rounded {
  border-radius: 10px;
}

.swan-react-card-content {
  padding: 2px 16px;
}

.swan-react-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
